header {
    background-color: black;
    height: 40vh; 
    display: flex;
}
footer {
    background-color: black;
    height: 65vh; 
    color: #c6bf45;
}
.footer_grid{
    margin: 5vw; 
    display: grid;
    min-height: 50vh;
    gap: 0.5vw;
    grid-template-columns: 100%;
    grid-template-rows: 60% 10% 15%;
    grid-template-areas: 
    'k_info_1'
    'sociala_medier'
    'img';
}
.k_info_1 {
    grid-area: k_info_1;
    color: #c6bf45;
}

.k_info_1 a {
    color: #c6bf45;
}
.sociala_medier {
    grid-area: sociala_medier;
}
.sociala_medier i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0.8vh;
}
.footer_img {
    grid-area: img;
    display: flex;
    justify-content: center;
}
.heart {
    height: 25vw;
    width: 20vw;
}
a {
    color:#c6bf45;
}
i {
    color: #c6bf45;
}
nav a {
    color: black;
}
body {
    margin: 0px;
    width: 100vw;
}
.allt_utom_header_och_footer {
    margin: 4vw; 
}
p {
    font-size: 1.5em;
}
h2 {
    font-size: 2.2em;
}
img {
    width: 90vw;
}
.galleri_bilder {
    height: 260vh;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.bilder_index {
    display: flex;
    justify-content: space-evenly;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_img {
    height: 25vh;
    width: auto;
    align-self: flex-start;
    justify-self: center;
    display: block;
    margin: auto;
}
.menu {
    height: 100vh;
    width: 119vw;
    background: white;
    position: fixed;
    top: 0;
    left: -130vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}
.menu-button {
    cursor: pointer;
    display: inline;
    justify-self: flex-start;
    align-self: center;
    padding: 2vw;
}
i.material-icons {
    font-size: 5rem;
    color: #c6bf45;
}
.show {
    left: 0;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: #c6bf45;
}
.fade-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0,5);
    display: none; 
    z-index: 5;
}
.fade-layer.visible {
    display: block;
}
.oppettider {
    margin-left: 7vw;
}
.dagar {
    margin-right: 12vw;
    display: inline-block;
}
.tider {
    display: inline-block;
    margin-left: 0px;
}
a {
    text-decoration: none;
}
.on_page {
    text-decoration: underline;
}