header {
    background-color: black;
    height: 40vh; 
    display: flex;
}
footer {
    background-color: black;
    height: 75vh; 
    color: #c6bf45;
}
.footer_grid {
    margin: 5vw; 
    display: grid;
    min-height: 50vh;
    gap: 0.5vw;
    grid-template-columns: 100%;
    grid-template-rows: 60% 10% 15%;
    grid-template-areas: 
    'k_info_1'
    'sociala_medier'
    'img';
}
.footer_grid_desk {
    margin: 5vw; 
    display: grid;
    min-height: 50vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 10% 15%;
    grid-template-areas: 
    'k_info_1 k_info_2'
    'sociala_medier sociala_medier'
    'img img';
}
.k_info_1 {
    grid-area: k_info_1;
    color: #c6bf45;
}
.k_info_1 a {
    color: #c6bf45;
}
.k_info_2 {
    grid-area: k_info_2;
    color: #c6bf45;
}
.k_info_2 a {
    color: #c6bf45;
}
.sociala_medier {
    grid-area: sociala_medier;
}
.sociala_medier i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0.8vh;
}
.footer_img {
    grid-area: img;
    display: flex;
    justify-content: center;
}
.heart {
    height: 25vw;
    width: 20vw;
}
a {
    color:#c6bf45;
}
i {
    color: #c6bf45;
}
nav a {
    color: black;
}
body {
    margin: 0px;
    width: 100vw;
}
.allt_utom_header_och_footer {
    margin: 4vw; 
}
p {
    font-size: 1.5em;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h2 {
    font-size: 2.2em;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
img {
    width: 90vw;
}
.galleri_bilder {
    height: auto;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    gap: 3vh;
}
.bilder_index {
    display: flex;
    justify-content: space-evenly;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_img {
    height: 25vh;
    width: auto;
    align-self: flex-start;
    justify-self: center;
    display: block;
    margin: auto;
}
.menu {
    height: 100vh;
    width: 119vw;
    background: white;
    position: fixed;
    top: 0;
    left: -130vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}
.menu-button {
    cursor: pointer;
    display: inline;
    justify-self: flex-start;
    align-self: center;
    padding: 2vw;
}
i.material-icons {
    font-size: 5rem;
    color: #c6bf45;
}
.show {
    left: 0;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: #c6bf45;
}
.fade-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0,5);
    display: none; 
    z-index: 5;
}
.fade-layer.visible {
    display: block;
}
.oppettider {
    margin-left: 7vw;
}
.dagar {
    margin-right: 12vw;
    display: inline-block;
}
.tider {
    display: inline-block;
    margin-left: 0px;
}
a {
    text-decoration: none;
}
.on_page {
    text-decoration: underline;
}
.mat {
    margin-top: 0vh;
    margin-bottom: 5vh;
}
.info a {
    color: black;
    text-decoration: underline;
}
.info a:hover {
    color: #c6bf45;
}
.index_grid_desk {
    margin: 3vw; 
    display: grid;
    min-height: 10vh;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    'valkommen_info bild_1'
    'mat_och_dryck_info bild_2';
}
.valkommen_info {
    grid-area: valkommen_info;
}
.bild_1 {
    grid-area: bild_1;
}
.mat_och_dryck_info {
    grid-area: mat_och_dryck_info;
}
.bild_2 {
    grid-area: bild_2;
}
@media screen and (min-width: 768px) {
    p {
        font-size: 2.5em;
    }
    h2 {
        font-size: 3.5em;
    }
    .allt_utom_header_och_footer {
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 2vw;
    }
    footer {
        height: 63vh;
    }
    img {
        width: 40vw;
    }
    .heart {
        width: 8vw;
        height: 10vw;
    }
    .menu {
        width: 40vw;
    }
    body {
        width: 98.7vw;
    }
    .footer_grid {
        display: none;
    }
    .k_info_1 {
        justify-self: center;
        margin-left: 5vw;
    }
    .k_info_2 {
        justify-self: center;
        margin-right: 5vw;
    }
    .sociala_medier {
        margin-left: 18vw;
    }
    .hela_tider {
        display: inline-block;
    }
    .info_desk_kontakt {
        display: inline-block;
        max-width: 40vw;
    }
    .kontakt_och_tider {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 10vw;
    }
    .oppettider_h2 {
        margin-left: 7vw;
    }
    .kontakt_bild_desk img {
        display: inline-block;
        width: 30vw;
    }
    .dryck_img_desk {
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
    }
    .dryck_img_desk img {
        width: 30vw;
    }
    .galleri_bilder {
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
    }
    .galleri_bilder img {
        width: 22vw;
    }
    .mat_bilder {
        display: flex;
        flex-wrap: wrap;
        gap: 1.8vw;
        justify-content: center;
    }
    .mat_card {
        width: 25vw;
    }
    .mat_card img {
        width: 25vw;
        height: 25vw;
        overflow: hidden;
    }
    .header_img {
        height: 35vh;
    }
    .info_och_img_kontakt {
        display: flex;
        justify-content: center;
        margin-bottom: 4vh;
        gap: 2vw;
    }
    .oppettider {
        margin-top: -3.5vh;
    }
    .oppettider_desk_index {
        display: flex;
        justify-content: center;
        margin-left: 0vw;
    }
    .oppettider_h2_desk_index {
        margin-left: 25vw;
    }
    .bild_1 {
        height: 25vw;
        overflow: hidden;
        align-self: flex-end;
    }
    .bild_2 {
        height: 25vw;
        overflow: hidden;
        align-self: flex-end;
    }
}
@media screen and (min-width: 1500px) {
     nav .menu {
        display: none;
    }
    .menu-button {
        display: none;
    }
    .nav_desktop {
        background-color: black;
        display: flex;
        justify-content: space-around;
    }
    .nav_desktop a {
        display: inline-block;
        color: #c6bf45;
    }
}
@media screen and (max-width: 1499px) {
    .nav_desktop {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .footer_grid_desk {
        display: none;
    }
    .index_grid_desk {
        display: none;
    }
}